@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/*Esconder barra de rolagem*/
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

img {
    width: 100vw;

}

a {
    /*Botão criado usando link*/
    display: block;
    background-color: darkred;
    color: white;
    padding: 10px;
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
}

a:hover {
    box-shadow: 0px 0px 5px red;
    background-color: rgb(255, 0, 0);
    text-shadow: 0px 0px 25px white;
    transition: 0.5s;
}